/* ==========================================================================
   Colors
   ========================================================================== */

$noColor: transparent;

$almostBlack: #191919;
$white: #FFFFFF;
$ghostWhite: rgba(255, 255, 255, 0.5);
$lightGray: #ebebeb;
$anotherLightGray: #BFBFBF;
$ghostGray: rgba(57, 57, 57, 0.7);
$gray: #989898;
$anotherGray: #999999;
$darkGray: #333333;

$peach: #E9B27C;
$mint: #59ad89;

$tangerine: #C18242;
$tangerineDarker: #BF7830;

$maineBlue: #2C6778;
$maineBlueDarker: #0F4656;

$bloodOrange: #C15342;
$bloodOrangeDarker: #7A3429;

$justBrown: #916D49;
$justBrownDarker: #7A5C3E;

$mustard: #E0BF71;
$mustardDarker: #C19B42;

$facebookColor: #3b5998;
$linkedinColor: #0e76a8;
$twitterColor: #00acee;
$githubColor: #171515;
$emailColor: #ef4423;
$skypeColor: #00aff0;

$redish: #B22222;


/* ==========================================================================
   Fonts
   ========================================================================== */

$brandSize: 20px;